{% extends "base.html" %}
{% load static %}

    {% block content %}
    <main>
      <!-- Breadcrumb Area S t a r t -->
      <section class="breadcrumb-section breadcrumb-bg">
        <div class="container">
          <div class="breadcrumb-text">
            <nav aria-label="breadcrumb" class="breadcrumb-nav wow fadeInUp mt-15" data-wow-delay="0.0s">
              <ul class="breadcrumb listing">
                <li class="breadcrumb-item single-list"><a href="{% url 'index' %}" class="single">{% if language == 'en' %}Home{% else %}Hauptseite{% endif %}</a></li>
                <li class="breadcrumb-item single-list" aria-current="page"><a href="javascript:void(0)" class="single">{% if language == 'en' %}ABOUT US{% else %}&#220;BER UNS{% endif %}</a></li>
              </ul>
            </nav>
            <h1 class="title wow fadeInUp" data-wow-delay="0.1s">{% if language == 'en' %}ABOUT US{% else %}{% endif %}&#220;BER UNS</h1>
          </div>
        </div>
      </section>
      <!-- End-of Breadcrumb Area -->

      <!-- helpful area S t a r t-->
      <section class="helpful-area-three section-padding">
        <div class="container">
          <div class="row g-24">
            {% for service in services %}
            <div class="col-xl-3 col-md-6 col-lg-6">
              <div class="helpful-card wow fadeInUp" data-wow-delay="0.0s">
                <div class="helpful-card-icon">
                  
                  {% if service.image %}
                  <img src="{{ service.image.url }}" alt="FBF-Hagen" />
                  {% else %}
                  &nbsp;
                  {% endif %}
                    
                </div>
                <div class="helpful-card-caption">
                  <h4 class="caption-title">
                  {% if language == 'en' %}
                  {{ service.title_en}}
                  {% else %}  
                  {{ service.title_de}}
                  {% endif %}
                </h4>
                  <p class="caption-para">
                    {% if language == 'en' %}
                    {{ service.description_en|safe}}
                    {% else %}  
                    {{ service.description_de|safe}}
                    {% endif %}
                  </p>
                  {% comment %} <a href="javascript:void(0)" class="imp-link">Mehr details <i class="ri-arrow-right-up-line"></i></a> {% endcomment %}
                </div>
                <div class="number-watermark">
                  <h4 class="number">{{ forloop.counter|stringformat:"02d" }}</h4>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- End-of helpful-->

      <!-- About us Area S t a r t -->
      <section class="about-area">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-6 my-auto">
              <!-- Section Tittle -->
              <div class="section-tittle mb-35">
                <span class="sub-tittle text-capitalize font-600">
                {% if language == 'en' %}
                  {{ about.title_en }}
                {% else %}
                  {{ about.title_de }}
                {% endif %}
                </span>
                <h2 class="title font-700 pb-15">
                {% if language == 'en' %}
                  {{ about.subtitle_en }}
                {% else %}  
                  {{ about.subtitle_de }}
                {% endif %}
              </h2>
              {% if language == 'en' %}
                {{ about.content_en|safe }}
              {% else %}  
                {{ about.content_de|safe }}
              {% endif %}
              </div>
            </div>
            <div class="col-lg-5">
              <div class="position-relative h-100">
                {% if about.video %}
                <div class="play-button">
                  <a id="play-video" class="video-play-button" href="javascript:void(0)">
                    <span></span>
                  </a>
                  <div id="video-overlay" class="video-overlay">
                    <a class="video-overlay-close">&times;</a>
                    <iframe width="560" height="315" src="{{ about.video }}" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                {% endif %}
                <div >
                  <img class="w-100 d-none d-lg-block" src="{{ about.image.url }}" alt="FBF-Hagen">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End-of About us Area -->

      <!-- Partners S t a r t -->
      <div class="popular-brand-section bottom-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="brand-img-container">
                <div class="flex justify-content-between brand-img-slider align-items-center">
                  
                  {% for partner in partners %}
                  <div class="brand-img">
                    
                    {% if  partner.website %}
                    <a href="{{ partner.website }}" target="_blank">
                    {% endif %}
                    <img src="{{ partner.image.url }}"  alt="{{ partner.title }}">
                    {% if partner.website %}
                    </a>
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End-of Partners -->

    </main>
    {% endblock content %}