{% load static %}
<!DOCTYPE html>
<html lang="en" dir="lrt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FBF-Hagen main web site.">
    <meta name="keywords" content="FBF-Hagen, Erasmus+, non profit, fundraiser, social, ngo, non-profit, nonprofit, organization, volunteer">
    <meta name="author" content="Selim Ozkan selimozkan(a)gmail.com">
    <meta property="og:type" content="website" >
    <meta property="og:title" content="Falken Bildungs- und Freizeitwerk Hagen e.V." >
    <meta property="og:site_name" content="Erasmus+ Organisation" >
    <meta property="og:site_name" content="FBF-Hagen" >
    <meta property="og:url" content="www.fbf-hagen.de" >
    <meta property="og:image" content="www.fbf-hagen.de" >
    <meta property="og:description" content="Falken Bildungs- und Freizeitwerk Hagen e.V." >
    <meta name="twitter:title" content="Falken Bildungs- und Freizeitwerk Hagen e.V." >
    <meta name="twitter:description" content="Falken Bildungs- und Freizeitwerk Hagen e.V." >
    <meta name="twitter:image" content="www.fbf-hagen.de" >
    <meta name="twitter:card" content="summary" >
    <title>Falken Bildungs- und Freizeitwerk Hagen e.V.</title>
    <link rel="icon" type="image/x-icon" sizes="20x20" href="{% static 'favicon.png' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-5.3.3.min.css' %}">
    <!-- fonts & icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/remixicon.css' %}">
    <!-- Plugin -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugin.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-style.css' %}">
    <!-- RTL CSS::When Need RTL Uncomments File -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/rtl.css' %}"> -->
  </head>

  <body>
    {% csrf_token %}
    <div class="loading-page" id="preloader-active">
      <div class="counter">
        <p class="text text-capitalize">loading</p>
        <span class="number">0%</span>
        <span class="line"></span>
      </div>
    </div>
    <header>
      <div class="header-area-two header-transparent" >
        <div class="main-header header-sticky">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="menu-wrapper d-flex align-items-center justify-content-between">
                  <div class="header-left d-flex align-items-center justify-content-between">
                    <!-- Logo-->
                    <div class="logo logo-large light-logo">
                      <a href="{% url 'index' %}"><img src="{% static 'images/logo/dark.png' %}" alt="FBF-Hagen Logo"></a>
                    </div>
                    <!-- Logo Mobile-->
                    <div class="logo logo-mobile light-logo">
                      <a href="{% url 'index' %}"><img src="{% static 'images/logo/dark.png' %}" alt="FBF-Hagen Logo"></a>
                    </div>
                  </div>
                  <!-- Main-menu for desktop -->
                  <div class="main-menu d-none d-lg-block">
                    <nav>
                      <ul class="listing" id="navigation">
                        <li class="single-list"><a href="about.html" class="single">{% if language == 'en' %}About Us{% else %}&#220;ber Uns{% endif %}</a></li>
                        <li class="single-list"><a href="blog.html" class="single">{% if language == 'en' %}Projects{% else %}Projekte{% endif %}</a></li>
                        <li class="single-list"><a href="#" class="single">{% if language == 'en' %}Events{% else %}Aktuelles{% endif %}</a></li>
                        <li class="single-list"><a href="nachhilfeschule.html" class="single">{% if language == 'en' %}After-school{% else %}Nachhilfeschule{% endif %}</a></li>
                        <li class="single-list"><a href="contact.html" class="single">{% if language == 'en' %}Contact{% else %}Kontakt{% endif %}</a></li>
                        <li class="single-list">
                          <a href="javascript:void(0)" class="single">{% if language == 'en' %}Language{% else %}Sprache{% endif %} <i class="ri-arrow-down-s-line"></i></a>
                          <ul class="submenu">
                            <li class="single-list"><a href="{% url 'change-language' 'de' %}" class="single">{% if language == 'en' %}German{% else %}Deutsch{% endif %}</a></li>
                            <li class="single-list"><a href="{% url 'change-language' 'en' %}" class="single">{% if language == 'en' %}English{% else %}Englisch{% endif %}</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <!-- Mobile Menu -->
                <div class="div">
                  <div class="mobile_menu d-block d-lg-none"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
    {% block content %}
    {% endblock content %}
    </main>
    <!-- Footer S t a r t -->
    <footer>
      <div class="footer-wrapper footer-bg-one" > {% comment %} data-background="{% static 'images/footer-graph.png' %}"> {% endcomment %}
        <div class="container">
          <div class="footer-imp-link row g-4 justify-content-between">
            
            {% for contact in contacts %}
            <div class="col-xl-2 col-lg-6">
              <div class="footer-link">
                <h4 class="title">{{ contact.title | safe }}</h4>
                <ul class="imp-link">
                  <li class="single-list">
                    <p>{{ contact.address | safe }}</p>
                  </li>
                  <li class="single-list">
                    <p>{{ contact.email }}</p>
                  </li>
                  <li class="single-list">
                    <p>{{ contact.phone }}</p>
                  </li>
                  <li class="single-list">
                    <a class="single" href="{{ contact.instagram }}"><i class="ri-instagram-line"></i> {% if language == 'en' %}Instagram Site{% else %}Instagram Seite{% endif %}</a>
                  </li>
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
          <hr class="footer-line">
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
          <div class="container">
            <div class="footer-border">
              <div class="row">
                <div class="col-xl-12">
                  <div class="footer-copy-right text-center">
                    <p class="pera">© 2024 FBF-Hagen. Alle rechte vorbehalten. Design & CMS by <a href="http://www.ozkanyazilim.com" target="_blank" style="color:orange;font-weight: 700;">Ozki</a></p>
                    <div><a href="{% url 'disclaimer' %}">{% if language == 'en' %}Disclaimer{% else %}Impressum{% endif %}</a>&nbsp;|&nbsp;<a href="{% url 'privacy-policy' %}">{% if language == 'en' %}Privacy Policy{% else %}Datenschutz{% endif %}</a></div>
                    <div class="footer-social-link">
                      <ul class="listing">
                        <li class="single-list">
                          <a class="single" href="{% if socials.facebook %}{{ socials.facebook }}{% else %}#{% endif %}"><i class="ri-facebook-fill"></i></a>
                        </li>
                        <li class="single-list">
                          <a class="single" href="{% if socials.youtube %}{{ socials.youtube }}{% else %}#{% endif %}"><i class="ri-youtube-fill"></i></a>
                        </li>
                        <li class="single-list">
                          <a class="single" href="{% if socials.instagram %}{{ socials.instagram }}{% else %}#{% endif %}"><i class="ri-instagram-line"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End-of Footer -->
    <!-- Scroll Up  -->
    <div class="progressParent" id="back-top">
      <svg class="backCircle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
      </svg>
    </div>
    <!-- End Scroll Up  -->
    <!-- Add an overlay element -->
    <div class="overlay"></div>
    <!-- jquery-->
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-5.3.3.min.js' %}"></script>
    <!-- Plugin -->
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- Main js-->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>