{% extends "base.html" %}
{% load static %}

    {% block content %}
    <main>
      <!-- Breadcrumb Area S t a r t -->
      <section class="breadcrumb-section breadcrumb-bg">
        <div class="container">
          <div class="breadcrumb-text">
            <nav aria-label="breadcrumb" class="breadcrumb-nav wow fadeInUp mt-15" data-wow-delay="0.0s">
              <ul class="breadcrumb listing">
                <li class="breadcrumb-item single-list"><a href="index.html" class="single">Hauptseite</a></li>
                <li class="breadcrumb-item single-list" aria-current="page"><a href="javascript:void(0)" class="single">Kontakt</a></li>
              </ul>
            </nav>
            <h1 class="title wow fadeInUp" data-wow-delay="0.1s">KONTAKT</h1>
          </div>
        </div>
      </section>
      <!-- End-of Breadcrumb Area -->

      <!-- Contact area S t a r t-->
      <div class="volunteer-details top-bottom-padding2">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="contact-section">
                <div class="contact-list">
                  <div class="contact-icon-list">
                    <div class="contact-content">
                      <p class="subtitle">Geschäftsstelle</p>
                      <div class="flex gap-1 mb-15">
                        <div>
                          <i class="subtitle ri-map-pin-line"></i>
                        </div>
                        <div class="title">Hochstraße 128<br>58085 Hagen</div>
                      </div>
                      <div class="flex gap-1 mb-15">
                        <div>
                          <i class="subtitle ri-mail-fill"></i>
                        </div>
                        <div class="title">buero@falken-hagen.de</div>
                      </div>
                      <div class="flex gap-1">
                        <div>
                          <i class="subtitle ri-phone-fill"></i>
                        </div>
                        <div class="title">+49 233 133 6165</div>
                      </div>
                    </div>
                    <div class="divider-ver"></div>
                  </div>
                  <div class="contact-icon-list">
                    <div class="contact-content">
                      <p class="subtitle">Jugendcentrum Vorhalle</p>
                      <div class="flex gap-1 mb-15">
                        <div>
                          <i class="subtitle ri-map-pin-line"></i>
                        </div>
                        <div class="title">Vorhaller Str. 34<br>58089 Hagen</div>
                      </div>
                      <div class="flex gap-1 mb-15">
                        <div>
                          <i class="subtitle ri-mail-fill"></i>
                        </div>
                        <div class="title">jz-vorhalle@falken-hagen.de</div>
                      </div>
                      <div class="flex gap-1">
                        <div>
                          <i class="subtitle ri-phone-fill"></i>
                        </div>
                        <div class="title">0157 39360 481</div>
                      </div>
                    </div>
                    <div class="divider-ver"></div>
                  </div>
                  <div class="contact-icon-list">
                    <div class="contact-content">
                      <p class="subtitle">Friedenshause Altenhagen</p>
                      <div class="flex gap-1 mb-15">
                        <div>
                          <i class="subtitle ri-map-pin-line"></i>
                        </div>
                        <div class="title">Friedensstraße 117<br>58097 Hagen</div>
                      </div>
                      <div class="flex gap-1 mb-15">
                        <div>
                          <i class="subtitle ri-mail-fill"></i>
                        </div>
                        <div class="title">m.karadag@falken-hagen.de</div>
                      </div>
                      <div class="flex gap-1">
                        <div>
                          <i class="subtitle ri-phone-fill"></i>
                        </div>
                        <div class="title">+49 173 104 8315</div>
                      </div>
                    </div>
                    <div class="divider-ver"></div>
                  </div>
                  <div class="contact-icon-list">
                    <div class="contact-content">
                      <p class="subtitle">Spielhaus Brockhausen</p>
                      <div class="flex gap-1 mb-15">
                        <div>
                          <i class="subtitle ri-map-pin-line"></i>
                        </div>
                        <div class="title">Freiherr vom Stein Straße 1<br>58089 Hagen</div>
                      </div>
                      <div class="flex gap-1 mb-15">
                        <div>
                          <i class="subtitle ri-mail-fill"></i>
                        </div>
                        <div class="title">k.meissner@falken-hagen.de</div>
                      </div>
                      <div class="flex gap-1">
                        <div>
                          <i class="subtitle ri-phone-fill"></i>
                        </div>
                        <div class="title">+49 233 133 3031</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="top-padding4">
            <div class="row gy-24">
              <div class="col-xl-6">
                <div class="send-box">
                  <form action="contact.html" class="custom-form">
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="form-group">
                          <label class="custom-label" for="exampleFormControlInput1">Name</label>
                          <input type="text" class="form-control custom-input" id="exampleFormControlInput1" placeholder="John Doe">
                        </div>
                      </div>
                      <div class="col-xl-12">
                        <div class="form-group">
                          <label class="custom-label" for="exampleFormControlInput5">Telefon</label>
                          <input type="text" class="form-control custom-input" id="exampleFormControlInput5" placeholder="Telefon">
                        </div>
                      </div>
                      <div class="col-xl-12">
                        <div class="form-group">
                          <label class="custom-label" for="exampleFormControlInput2">E-Mail Adresse</label>
                          <input type="email" class="form-control custom-input" id="exampleFormControlInput2" placeholder="name@example.com">
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-12">
                      <div class="form-group">
                        <label class="custom-label" for="exampleFormControlTextarea1">Nachricht</label>
                        <textarea class="form-control custom-textarea" id="exampleFormControlTextarea1" placeholder="Schreiben Sie ihre Nachricht hier"></textarea>
                      </div>
                    </div>
                    <button type="submit" class="submit-btn">Nachricht Senden</button>
                  </form>
                </div>
              </div>
              <div class="col-xl-6">
                <iframe class="map-frame" src="https://www.google.com/maps/embed/v1/place?q=Hagen,+Germany&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" width="600" height="450" style="border: 15px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End-of contact-->

    </main>
    {% endblock content %}
