{% extends "base.html" %}
{% load static %}

    {% block content %}
    <main>
      <!-- Breadcrumb Area S t a r t -->
      <section class="breadcrumb-section breadcrumb-bg">
        <div class="container">
          <div class="breadcrumb-text">
            <nav aria-label="breadcrumb" class="breadcrumb-nav wow fadeInUp mt-15" data-wow-delay="0.0s">
              <ul class="breadcrumb listing">
                <li class="breadcrumb-item single-list"><a href="{% url 'index' %}" class="single">{% if language == 'en' %}Home{% else %}Hauptseite{% endif %}</a></li>
                <li class="breadcrumb-item single-list" aria-current="page"><a href="javascript:void(0)" class="single">{% if language == 'en' %}DISCLAIMER{% else %}IMPRESSUM{% endif %}</a></li>
              </ul>
            </nav>
            <h1 class="title wow fadeInUp" data-wow-delay="0.1s">{% if language == 'en' %}DISCLAIMER{% else %}IMPRESSUM{% endif %}</h1>
          </div>
        </div>
      </section>
      <!-- End-of Breadcrumb Area -->

      <!-- S t a r t -->
      <section class="about-area">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-12 my-auto">
              <!-- Section Tittle -->
              <div class="section-tittle mb-35">
                <span class="sub-tittle text-capitalize font-600">&nbsp;</span>
                {% if language == 'en' %}
                {{ disclaimer.disclaimer_en|safe }}
                {% else %}
                {{ disclaimer.disclaimer_de|safe }}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End -->

      <!-- Partners S t a r t -->
      <div class="popular-brand-section bottom-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="brand-img-container">
                <div class="flex justify-content-between brand-img-slider align-items-center">
                  
                  {% for partner in partners %}
                  <div class="brand-img">
                    {% if  partner.website %}
                    <a href="{{ partner.website }}" target="_blank">
                    {% endif %}
                    <img src="{{ partner.image.url }}"  alt="{{ partner.title }}">
                    {% if partner.website %}
                    </a>
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End-of Partners -->

    </main>
    {% endblock content %}