{% extends "base.html" %}
{% load static %}

    {% block content %}
    <main>
      <!-- Breadcrumb Area S t a r t -->
      <section class="breadcrumb-section breadcrumb-bg">
        <div class="container">
          <div class="breadcrumb-text">
            <nav aria-label="breadcrumb" class="breadcrumb-nav wow fadeInUp" data-wow-delay="0.0s">
              <ul class="breadcrumb listing">
                <li class="breadcrumb-item single-list"><a href="{% url 'index' %}" class="single">{% if language == 'en' %}Home{% else %}Hauptseite{% endif %}</a></li>
                <li class="breadcrumb-item single-list" aria-current="page"><a href="javascript:void(0)" class="single">{% if language == 'en' %}PROJECT DETAIL{% else %}PROJEKTDETAIL{% endif %}</a></li>
              </ul>
            </nav>
            <h1 class="title wow fadeInUp" data-wow-delay="0.1s">{{ project.title }}</h1>
          </div>
        </div>
      </section>
      <!-- End-of Breadcrumb Area -->

      <!-- Blog-details S t a r t -->
      <section class="blog-details top-bottom-padding2">
        <div class="container">
          <div class="row gy-24">
            <div class="col-xxl-12 col-xl-12 col-lg-12">
              <div class="single-blog">
                <div class="blog-img">
                  <a href="javascript:void(0)">
                    <img src="{{ project.image.url}}" class="img-fluid w-100" alt="FBF-Hagen">
                  </a>
                  <div class="brush-bg">
                    <span data-background="{% static 'images/brush.png' %}" style="color:var(--primary-title);font-size:14px;font-weight: 700;width:129px !important;height:61px !important;display:block;display:flex;justify-content:center;align-items:center;">{{ project.updated | date:"d/m/Y" }}</span>
                  </div>
                </div>
                <div class="blog-info">
                  <div class="blog-info-title">
                    <div class="flex gap-16 mb-20 align-items-center">
                      <div class="user flex gap-10 align-items-center">
                        <i class="ri-user-line"></i>
                        <p class="info">By: {{project.author}}</p>
                      </div>
                    </div>
                    <h4 class="title">{% if language == 'en' %}{{project.title_en|safe}}{% else %}{{project.title_de|safe}}{% endif %}</h4>
                    <div class="subtitle">{% if language == 'en' %}{{project.content_en|safe}}{% else %}{{project.content_de|safe}}{% endif %}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- End-of Blog-details -->
    </main>
    {% endblock content %}
