<!DOCTYPE html>
<html lang="en" dir="lrt">
  <script src="head.js"></script>
  <body>
    <script src="loading.js"></script>
    <script src="header.js"></script>
    <main>
      <!-- Breadcrumb Area S t a r t -->
      <section class="breadcrumb-section breadcrumb-bg">
        <div class="container">
          <div class="breadcrumb-text">
            <nav aria-label="breadcrumb" class="breadcrumb-nav wow fadeInUp" data-wow-delay="0.0s">
              <ul class="breadcrumb listing">
                <li class="breadcrumb-item single-list"><a href="index.html" class="single">Hauptseite</a></li>
                <li class="breadcrumb-item single-list" aria-current="page"><a href="javascript:void(0)" class="single">PROJEKT </a></li>
              </ul>
            </nav>
            <h1 class="title wow fadeInUp" data-wow-delay="0.1s">PROJEKT DETAILS</h1>
          </div>
        </div>
      </section>
      <!-- End-of Breadcrumb Area -->

      <!-- Blog-details S t a r t -->
      <section class="blog-details top-bottom-padding2">
        <div class="container">
          <div class="row gy-24">
            <div class="col-xxl-12 col-xl-12 col-lg-12">
              <div class="single-blog">
                <div class="blog-img">
                  <a href="javascript:void(0)">
                    <img src="assets/images/gallery/blog-16.png" class="img-fluid w-100" alt="img">
                  </a>
                  <div class="brush-bg">
                    <img src="assets/images/gallery/brush-bg-two.png" alt="image">
                  </div>
                </div>
                <div class="blog-info">
                  <div class="blog-info-title">
                    <div class="flex gap-16 mb-20 align-items-center">
                      <div class="user flex gap-10 align-items-center">
                        <i class="ri-user-line"></i>
                        <p class="info">By: admin</p>
                      </div>
                      <div class="donate flex gap-10 align-items-center">
                        <i class="ri-chat-3-line"></i>
                        <p class="info">Donation</p>
                      </div>
                    </div>
                    <h4 class="title">Provide food and clean water to children who are malnourished or living in areas withoutaccess to clean drinking water.</h4>
                    <p class="subtitle">As you may know, there are millions of children living in poverty, without access to basic necessities like food,clean water, Food healthcare. Many of these children are also denied the opportunity.,</p>
                    <div class="divider"></div>
                    <p class="subtitle">As you may know, there are millions of children living in poverty, without access to basic necessities like food, clan water, and Big healthcare. Many of these children are also denied the opportunity to receive an education, perpetu ating the cycle of poverty and limiting their potential for a better future</p>
                    <p class="subtitle">We understand that there are many organizations seeking support, and we appreciate your consideration of [Organization Name]. We assure you that your donation will be used wisely and effectively to support the children.</p>
                    <div class="divider"></div>
                    <div class="quote-with-text">
                      <div class="quote">
                        <svg xmlns="http://www.w3.org/2000/svg" width="76" height="54" viewBox="0 0 76 54" fill="none">
                          <path d="M67.1429 32.4V30.4H65.1429H54.2857C49.3919 30.4 45.4286 26.4424 45.4286 21.6V10.8C45.4286 5.95763 49.3919 2 54.2857 2H65.1429C70.0366 2 74 5.95763 74 10.8V16.2V21.6V33.75C74 43.8236 65.7956 52 55.6429 52H54.2857C52.3776 52 50.8571 50.4724 50.8571 48.6C50.8571 46.7276 52.3776 45.2 54.2857 45.2H55.6429C61.9794 45.2 67.1429 40.0789 67.1429 33.75V32.4ZM23.7143 32.4V30.4H21.7143H10.8571C5.96336 30.4 2 26.4424 2 21.6V10.8C2 5.95763 5.96336 2 10.8571 2H21.7143C26.6081 2 30.5714 5.95763 30.5714 10.8V16.2V21.6V33.75C30.5714 43.8236 22.367 52 12.2143 52H10.8571C8.94907 52 7.42857 50.4724 7.42857 48.6C7.42857 46.7276 8.94907 45.2 10.8571 45.2H12.2143C18.5509 45.2 23.7143 40.0789 23.7143 33.75V32.4Z" stroke="#090E0D" stroke-width="4"/>
                        </svg>
                      </div>
                      <h4 class="title">Donating to charity is a great way to make a positive impact on the world and help those in need. There are many different type of charities and causes tosuport, ranging from local.</h4>
                    </div>
                    <div class="d-flex gap-20">
                      <div class="blog-multi-img">
                        <img src="assets/images/gallery//blog-multi-1.png" alt="image">
                      </div>
                      <div class="blog-multi-img">
                        <img src="assets/images/gallery//blog-multi-2.png" alt="image">
                      </div>
                    </div>
                    <div class="donation-content">
                      <h4 class="title">donation</h4>
                      <p class="pera">As you may know, there are millions of children living in poverty, without access to basic necessities like food, clea water, and Big healthcare. Many of these children are also denied the opportunity to receive an education, perpetu al the cycle of poverty and limiting their potential for a better future.</p>
                      <ul class="bullet-list">
                        <li class="list">This is a personal decision that requires careful consideration.</li>
                        <li class="list">help save lives, while others may donate their body to medical research or education.</li>
                        <li class="list">it's important to discuss your wishes with your family</li>
                      </ul>
                      <p class="subtitle">There are millions of children living in poverty, without access to basic necessities like food, clean water,and Big he althcare. Many of these children are also denied the opportunity to receive an education,</p>
                      <div class="divider"></div>
                    </div>
                  </div>
                  <!-- blog info -->
                  <div class="another-blog-info">
                    <div class="d-flex res-flex justify-content-between align-items-center">
                      <div class="imp-btn flex align-items-center">
                      </div>
                      <div class="share-link align-items-center">
                        <p class="title">share:</p>
                        <div class="social-link">
                          <div class="social-icon active">
                            <a href="javascript:void(0)"><i class="ri-facebook-fill"></i></a>
                          </div>
                          <div class="social-icon">
                            <a href="javascript:void(0)"><i class="ri-twitter-fill"></i></a>
                          </div>
                          <div class="social-icon">
                            <a href="javascript:void(0)"><i class="ri-linkedin-fill"></i></a>
                          </div>
                          <div class="social-icon">
                            <a href="javascript:void(0)"><i class="ri-instagram-fill"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- End-of Blog-details -->
    </main>
    <script src="footer.js"></script>
    <script src="scroll-up.js"></script>
    <!-- Add an overlay element -->
    <div class="overlay"></div>
    <script src="scripts.js"></script>
  </body>
</html>
